.Sidebar {
    height: 100%;
    width: 200px;
    background-color: blueviolet;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: table;
    text-align: center;

}

.Sidebar-text {
    display: table-cell;
    vertical-align: middle;
}
