.App {
  text-align: center;
  /* background-color: aquamarine; */
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

body {
  margin: 0;
  padding: 0;
}